
header {
  text-align: center;
  margin-bottom: 2em;
}

footer {
  margin-top: 5em;
  text-align: center;
}


/* ------ layout ------ */


.main {
  margin: auto;
  width: 899px;
  height: 754px;
  border: 5px solid grey;
}

.rowofBricks {
  height: 62px;
}

.base {
  background-color: rgba(154, 94, 17, 0.88);
}

.wall {
    width: 890px;
    background-color: #85dfef;
    border: 1px solid orange;
}

.bricks {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/bricks.jpg');
    background-size: contain;
}

.realBrick {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/bricks.jpg');
    background-size: contain;
    height: 62px;
    width: 74px;
    float: left;
    border: 1px solid red;
}

#ground {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/ground.png');
    background-size: cover;
    background-color: rgba(154, 94, 17, 0.88);
    height: 124px;
}

/* end layout */




/*Testing */

.columnBricks {
    width: 74px;
    background: #9C27B0;
    height: 62px;
}




/* Kaysser */


.column {
    width: 11.11%;
    height: 100%;
    display: inline-block;
}



.block {
    height: 11.11%;
    width: 100%;
    display: inline-block;
    /*border: 1px solid green;*/
    vertical-align: top;
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/bricks.jpg');
    background-size: contain;
}

.sky {
    height: 11.11%;
    width: 100%;
    display: inline-block;
    /*border: 1px solid green;*/
    vertical-align: top;
    background-size: contain;
    background: rgba(0, 255, 228, 0.24);
}

.floor {
    height: 16.11%;
    width: 100%;
    display: inline-block;
    /*border: 1px solid green;*/
    vertical-align: top;
    background-size: contain;
    /*background: rgba(213, 186, 63, 0.83);*/
}

/* Mexican Front */
.mexican {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/mexican.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Mexican Right */
.m-right {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/m-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Mexican Left */
.m-left {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/m-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mm1 {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/mm1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.mm2 {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/mm2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.mm3 {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/mm3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
/* Trump Front */
.trump {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-front.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Trump Right */
.trump-right {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




/* Trump Left */
.trump-left {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.trump-brick {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-front-brick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.trump-brick-2 {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-front-brick-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.trump-brick-3 {
    background-image: url('/home/alejandro/Desktop/Breaking the wall/img/characters/t-front-brick-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
